<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <script src="{{ STATIC_URL }}js/ui/jquery.ui.core.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.widget.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.mouse.js"></script>
	<script src="{{ STATIC_URL }}js/ui/jquery.ui.draggable.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.simplemodal-1.4.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/exporting.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ui/jquery.ui.sortable.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/themes/base/jquery.ui.all.css" type="text/css" media="all" />

    {% block script_add %}{% endblock %}
</head>
<body>
{% block top %}
Olá, {{ request.user }} <<a href="/logout/">Sair</a>>,<br />
Menu
<ul>
    <li><a href="/admin/">Interface Administrativa</a></li>
</ul>
{% endblock %}
{% block body %}
{% endblock %}
</body>
{% block end_scripts %}
{% endblock %}
</html>
