<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css">
    <title>Login</title>
</head>
<body class="fundo">
{% if form.errors %}
    {{ form.non_field_errors }}
{% endif %}
<div id="conteudo">
<div class="cabeca">
    <p>Login</p>
   </div>   
 <div id="login">
        <form action="." method="post">{% csrf_token %} 
       <table>
            <tr>
                <td width="20%" nowrap="nowrap">{{ form.username.label_tag }}: </td>
                <td class="teste">{{ form.username }}</td>
            </tr>
            <tr>
                 <td  width="20%" nowrap="nowrap">{{ form.password.label_tag }}: </td>
                 <td><span class="teste">{{ form.password }}<span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="sb">Entrar</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}">
   </form>
  </div>

</div>
</body>
</html>
